<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
    <link rel="icon" href="../static/icons/favicon.ico" type="image/x-icon">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/bootstrap-icons-1.13.1/bootstrap-icons.css">

</head>
<body class="fw-bold">
<div class="container-fluid">
    <div class="row min-vh-100">
        <div class="col-md-2 bg-dark text-white d-flex flex-column  position-fixed h-100 top-0 start-0">
            <nav class="navbar-brand bg-dark text-white p-3 fs-1">
                <img src="../static/icons/bootstrap-logo-white.svg" alt="Logo" width="60" height="50">
                Меню
            </nav>

            <nav class="nav nav-pills flex-column border-top border-secondary p-3 ">
                <a class="flex-sm-fill  nav-link active" aria-current="page" aria-label="SkyEng" href="../index.html"><i
                        class="bi bi-house-door me-2"></i> Главная </a>
                <a class="flex-sm-fill  nav-link text-bg-dark" href="category.html"><i
                        class="bi bi-speedometer2 me-2"></i>Категории</a>
                <a class="flex-sm-fill  nav-link text-bg-dark" href="catalog.html"><i class="bi bi-table me-2"></i>Заказы</a>
                <a class="flex-sm-fill  nav-link text-bg-dark" href="contacts.html"><i
                        class="bi bi-person-circle me-2 "></i>Контакты</a>
            </nav>


            <div class="d-flex flex-column mt-auto" style="height: 100;">
                <nav class="nav  nav-pills flex-column  border-top border-secondary p-2 gap-2 ">
                    <ul class="navbar-nav ">
                        <li class="nav-item dropup">
                            <button class="btn btn-dark dropdown-toggle navbar-dark bg-dark fw-bold p-3"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                <img src="../static/img/1v0sfAHnQ9VzQ-T64dvCrPjTozTkMoym3UgmN4TToyfYR50VTGffEZXbGSvbFjtajcSkrTHUxi3Os1BJ6KdiKgza.jpg"
                                     alt="picture" class="rounded-circle" width="50" height="50">
                                Пользователь
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="#">Профиль</a></li>
                                <li><a class="dropdown-item" href="#">Выход</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>


        <div class="col-md-10 p-5 fw-bold offset-md-2">
            <p class="display-4 text-center fw-medium mb-2 fs-0 fw-semibold mb-5">Каталог</p>


            <div class="container ">

                <div class="row justify-content-around mb-5"> <!---row row-cols-1 row-cols-md-2 g-4-->
                    <!-- Карточка 1 -->

                    <div class="col-md-4">
                        <div class="shadow mb-5 bg-body-tertiary rounded">
                            <div class="card">
                                <div class="text-bg-secondary mb-3 "

                                     style="height: 200px; display: flex; align-items: center; justify-content: center;">
                                    Thumbnail
                                </div>

                                <div class="card-body ">
                                    <p class="card-text text-muted small ">This is a wider card with supporting text
                                        below
                                        as
                                        a natural lead-in to additional content. This content is a little bit
                                        longer.</p>
                                </div>

                                <div class="card-footer bg-white border-top-0 d-flex justify-content-between align-items-center ">
                                    <div class="btn-group " role="group">
                                        <button class="btn btn-sm btn-outline-secondary">View</button>
                                        <button class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted opacity-75">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Карточка 2 -->
                    <div class="col-md-4 ">
                        <div class="shadow mb-5 bg-body-tertiary rounded">
                            <div class="card">
                                <div class="text-bg-secondary mb-3 "
                                     style="height: 200px; display: flex; align-items: center; justify-content: center;">
                                    Thumbnail
                                </div>
                                <div class="card-body">
                                    <p class="card-text text-muted small">This is a wider card with supporting text
                                        below as
                                        a natural lead-in to additional content. This content is a little bit
                                        longer.</p>
                                </div>
                                <div class="card-footer bg-white border-top-0 d-flex justify-content-between align-items-center">
                                    <div class="btn-group" role="group">
                                        <button class="btn btn-sm btn-outline-secondary">View</button>
                                        <button class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted opacity-75">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-around mb-5"> <!---row row-cols-1 row-cols-md-2 g-4-->
                    <!-- Карточка 3 -->
                    <div class="col-md-4">
                        <div class="shadow mb-5 bg-body-tertiary rounded">
                            <div class="card">
                                <div class="text-bg-secondary mb-3 "
                                     style="height: 200px; display: flex; align-items: center; justify-content: center;">
                                    Thumbnail
                                </div>
                                <div class="card-body">
                                    <p class="card-text text-muted small">This is a wider card with supporting text
                                        below as
                                        a natural lead-in to additional content. This content is a little bit
                                        longer.</p>
                                </div>
                                <div class="card-footer bg-white border-top-0 d-flex justify-content-between align-items-center">
                                    <div class="btn-group" role="group">
                                        <button class="btn btn-sm btn-outline-secondary">View</button>
                                        <button class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted opacity-75">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="shadow mb-5 bg-body-tertiary rounded">
                            <div class="card">
                                <div class="text-bg-secondary mb-3 "
                                     style="height: 200px; display: flex; align-items: center; justify-content: center;">
                                    Thumbnail
                                </div>
                                <div class="card-body">
                                    <p class="card-text text-muted small">This is a wider card with supporting text
                                        below as
                                        a natural lead-in to additional content. This content is a little bit
                                        longer.</p>
                                </div>
                                <div class="card-footer bg-white border-top-0 d-flex justify-content-between align-items-center">
                                    <div class="btn-group" role="group">
                                        <button class="btn btn-sm btn-outline-secondary">View</button>
                                        <button class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>

                                    <small class="text-muted opacity-75">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="../static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
